---
layout: default
---

<div class="page-container">
   {% if page.img %}
    <img class="featured-img" src={{ "/images-hq/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
    {% endif %}
    <div class="content">
    <article>
        <h1 class="page-title">{{page.title}}</h1>
        {% if page.author %}
        <div class="meta"><span><i class="fa fa-calendar-o" aria-hidden="true"></i> {{page.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span><span><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{page.author}}</span></div>
   
        {% endif %}
        {{page.content | markdownify}}
   
       <br> 
      
      <center>
         Ecuador <i class="fa fa-map-marker" aria-hidden="true"></i>
      </center>
       
      <br> 
       {% include share-bar.html %}
      <br> 
       </article>
   <section class="recent_box"> <!-- Inicio Section Recent Box -->
    <div class="post_wrapper">
      <h2 class="recent_title">Otros productos</h2>
      <div class="recent_list">
        {% for post in site.posts offset:0 limit:12%}
          {% if post.title %}
            <a href="{{ post.url | prepend: site.baseurl }}"  
            class="recent_item"
            style="background-image: url( {{ "/images/"  | prepend: site.baseurl | append : post.img}} )"> 

                <span>{{ post.title }}</span>
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section> <!-- End Section Recent Box -->
   
            {% if page.categories %}
                {% include disqus.html %}
            {% else %}
            {% endif %}
    </div>
</div>
