---
layout: default
---

<div class="page-container">
   {% if page.img %}
    <img class="featured-img" src={{ "/images-hq/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
    {% endif %}
    <div class="content">
    <article>
        <h1 class="page-title">{{page.title}}</h1>
        {% if page.author %}
        <div class="meta"><span><i class="fa fa-calendar-o" aria-hidden="true"></i> {{page.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span><span><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{page.author}}</span></div>
        {% endif %}
        {{page.content | markdownify}}
       
       {% include share-bar.html %}
       
       
      <center>
         <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d997.4363801462447!2d-78.42855955483239!3d-0.346120003025934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d5bc5f0b638cbb%3A0xd93b9b7001cabe09!2sAv.%20Juan%20Salinas%20%26%20Paraiso%2C%20Sangolqu%C3%AD!5e0!3m2!1ses-419!2sec!4v1604538874587!5m2!1ses-419!2sec" width="500" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
         </div>
      </center>
       
       
      <center>
         Sangolquí - Ecuador <i class="fa fa-map-marker" aria-hidden="true"></i>
      </center>
       
    </article>
            {% if page.categories %}
                {% include disqus.html %}
            {% else %}
            {% endif %}
    </div>
</div>
